@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto+Condensed:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Roboto Condensed, sans-serif;
  }
  h2 {
    font-family: Chakra Petch, sans-serif;
  }
}



html {
  width: 100%;
  height: 100%;
  
  background: #080C1D; /* Old browsers */
  background: -moz-linear-gradient(top,  #080C1D 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #080C1D 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #080C1D 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080C1D', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}


canvas{
  position: fixed;
  top: 0;
  left:0;
}



